:javascript
  var data = #{@data.to_json}
= javascript_include_tag "foursquare"

= sitemap "#{current_user.name}'s All Checkins"

%ul.nav.nav-tabs#timeframe-nav
  %li.active
    = link_to "All", "#", :id=>"all-btn"
  %li
    = link_to "Last Six Month", "#", :id=>"last-six-month-btn"
  %li
    = link_to "Current Year", "#", :id=>"current-year-btn"
#back
  = link_to "Back", "#", :class=>"btn"
#foursquare_pie
#foursquare_weekly_trend
#foursquare_monthly_trend

/= @category_parents.inspect

/- @checkins.each do |checkin|
/  .checkin
/    .venue
/      .icon
/        = image_tag(checkin.venue.icon.url) if checkin.venue
/      .content
/        .name= "@ #{checkin.venue.name}" if checkin.venue
/        .shout= checkin.shout
/        .time= time_ago_in_words(checkin.created_at)
