:javascript
  var chart, chart1;
  var data = #{@pie_data.to_json}
  $(document).ready(function() {
    drawFirstLevel();
    $('#back a').click(function(){
      chart1.destroy();
      drawFirstLevel();                
    });
  });

  function drawFirstLevel() {
    chart = new Highcharts.Chart( {
      chart: {
        renderTo: "foursquare_pie",
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: true
      },
      title: {
        text: "Checkins by Category"
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() {
                  return '<b>'+ this.point.name +'</b>'+ this.percentage.toFixed(1) +' %';
              }
          },
          point: {
            events: {
              click: function() {
                drawSecondLevel(this.name);
              }
            }
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'Browser share',
        data: data['all']
      }]
    });
  }

  function drawSecondLevel(name) {
    chart.destroy();
    chart1 = new Highcharts.Chart( {
      chart: {
        renderTo: "foursquare_pie",
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: true
      },
      title: {
        text: "Checkins by Category " + name
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() {
                  return '<b>'+ this.point.name +'</b>'+ this.percentage.toFixed(1) +' %';
              }
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'Browser share',
        data: data['detailed'][name]
      }]
    });
  }

= sitemap "#{current_user.name}'s All Checkins"

#foursquare_pie

#back
  = link_to "Back", "#", :class=>"btn"

/= @category_parents.inspect

/- @checkins.each do |checkin|
/  .checkin
/    .venue
/      .icon
/        = image_tag(checkin.venue.icon.url) if checkin.venue
/      .content
/        .name= "@ #{checkin.venue.name}" if checkin.venue
/        .shout= checkin.shout
/        .time= time_ago_in_words(checkin.created_at)
