:javascript
  var data = #{@pie_data.to_json}
= javascript_include_tag "foursquare"

= sitemap "#{current_user.name}'s All Checkins"

#foursquare_pie

#back
  = link_to "Back", "#", :class=>"btn"

/= @category_parents.inspect

/- @checkins.each do |checkin|
/  .checkin
/    .venue
/      .icon
/        = image_tag(checkin.venue.icon.url) if checkin.venue
/      .content
/        .name= "@ #{checkin.venue.name}" if checkin.venue
/        .shout= checkin.shout
/        .time= time_ago_in_words(checkin.created_at)
