:javascript
  var data = #{@data.to_json}
= javascript_include_tag "foursquare"

= sitemap "#{current_user.name}'s All Checkins"

%ul.nav.nav-tabs#timeframe-nav
  - unless @all or @current_year
    %li.active
      = link_to "Latest", "?", :id=>"latest-btn"
  - else
    %li
      = link_to "Latest", "?", :id=>"latest-btn"
  - if @current_year
    %li.active
      = link_to "Current Year", "?current_year=true", :id=>"current-year-btn"
  - else
    %li
      = link_to "Current Year", "?current_year=true", :id=>"current-year-btn"
  - if @all
    %li.active
      = link_to "All", "?all=true", :id=>"all-btn"
  - else
    %li
      = link_to "All", "?all=true", :id=>"all-btn"
#back
  = link_to "Back", "#", :class=>"btn"
#foursquare_pie
#foursquare_weekly_trend
#foursquare_monthly_trend

/= @category_parents.inspect

/- @checkins.each do |checkin|
/  .checkin
/    .venue
/      .icon
/        = image_tag(checkin.venue.icon.url) if checkin.venue
/      .content
/        .name= "@ #{checkin.venue.name}" if checkin.venue
/        .shout= checkin.shout
/        .time= time_ago_in_words(checkin.created_at)
